.container{
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width: 100vw;
    height: 150%;
    background-size: cover;
}
.homedetail{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    margin-left: 85%;
    margin-top: 1%;
}
.details{
    background-color: rgba(255, 255, 255, 0.589);
   box-shadow: 1px 1px 2px 5px black;
   border-radius: 5%;
    width: 650px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    
}
.li{
    list-style: none;
    margin-left: 1%;
}
.detalles{
    background-color: white;
    border-radius: 10%;
}
.p1{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5%;
}
h5{
    margin: 0.8%;
}
span{
    color: red;
}